@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
.attribution { 
    font-size: 11px; text-align: center;
 }
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
body{
    background-color: hsl(30, 18%, 87%);
    font-size: 16px;
    font-family: outfit,sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    color:hsl(30, 10%, 34%);
}
h3{
    margin: 0px;
}
.container{
    background-color: hsl(0, 0%, 100%);
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px rgba(0,0,0.5px);
}
img{
    border-radius: 0.5rem;
    margin-bottom: 20px;
   }
h1{
    padding: 0px;
    margin: 0px;
    font-family:Young Serif,outlet ;
    color: hsl(24, 5%, 18%);
    font-weight: 500;
}
p{
    color:hsl(30, 10%, 34%);
}
.prepration{
    background-color: hsl(330, 100%, 98%);
    padding:1.5rem;
    border-radius: 0.7rem;
}
.prepration ul{
    padding-left:15px;
    margin: 16px;
}
.prepration>ul li{
    padding: 5px;
    margin-right:2rem; 
}
 h2{
    color: hsl(30, 10%, 34%);
    margin-top: 25px;
    margin-bottom: 0px;
    font-family:Young Serif,outlet ;
    font-weight: normal;
 }
 li{
    padding:5px;
 }
 hr{
    border: none;
    border-top: solid 1.5px rgb(210, 198, 198);
    width: 97%;
 }
.nutriens-para p{
    display: inline-block;
    padding: 5px;  
    margin:0px 35px;  
    width:30%;
}
.cal{
    font-weight: 700;
}
@media (max-width: 600px){
    body{
        padding: 0px;
        margin:0px;
        font-size: 2rem;
        width: 100%;
    }
    .container{
        display: flex;
        flex-direction: column;
        width:100%;
        padding: 0px;
        margin: 0px;
        font-size: 16px;
        border-radius: 0px;
    }
    img{
        width: 100%;
        text-align: center;
        border-radius: 0px;
    }
    
    .prepration{
        margin:10px;
        padding: 10px;
    }
    .prepration > ul{
        margin: 20px;
        
    }
    .mobile-port{
        margin:30px;
    }
    .nutriens-para{
        width:100%;
        
    }
    .nutriens-para p{
        display: inline-block;
        width:.625rem;
        margin-left:3rem;
        padding-right: 3rem;
     }
    
}
